.margin-top{
    margin-top: 50px;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-top-250px{
    margin-top: -250px;
}
.color-red{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.padding-left{
    padding-left: 10px;
}
.border-radius{
    border-radius: 100%;
}
.custom-width{
    width: 200px;
}